
{% block content %}
<footer id="footer">
    <div class="container-fluid">
        <a href="https://www.linkedin.com/in/gian-hernandez"><i class="bi bi-linkedin icons"></i></a>
        <a href="https://github.com/gianhernandez"><i class="social-icon bi bi-github icons"></i></a>
        <a href="mailto:gian.hernandez.cedano@gmail.com"><i class="social-icon bi bi-envelope-fill icons"></i></a>
        <p class="copyright">© Developed by Gian Hernández {{ year }} </p>
    </div>
</footer>
{% endblock %}